# Build outputs
build/obj/
build/gen/
build/compiled-res.zip
build/base.apk
build/unsigned.apk
build/aligned.apk
build/classes.dex
build/sources.txt

# Keystore (NUNCA subir a repo público)
build/debug.keystore
*.keystore
*.jks

# OS / editores
.DS_Store
Thumbs.db
*.swp
*.swo
.vscode/
.idea/
*.iml

# Logs
*.log
